/* Hide scrollbar but allow scrolling */
body {
    overflow: auto; /* Enable scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  /* For WebKit browsers like Chrome and Safari */
  body::-webkit-scrollbar {
    display: none;
  }
  